/*here we used the body class to choose a specific color for the page using hex format */
.body {
    background-color: #140808;
}


.loading {
    width: 300px;
    height: 10px;
    background-color: #6f00ff;
    position: absolute;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 2; opacity: 0;       
    }
    @keyframes example {
        0% {left: -300px; top: 50%; width: 300px; opacity: 100;} 
        100% {left: 100%; top: 50%; width: 0; opacity: 100}
    } 


header {
    background-color: #181a24;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
    }